[submodule "eBikeServices"]
	path = eBikeServices
	url = https://github.com/JoDaniel1412/eBikeServices
[submodule "eBikeDB"]
	path = eBikeDB
	url = https://github.com/JoDaniel1412/eBikeDB
[submodule "eBikeWeb"]
	path = eBikeWeb
	url = https://github.com/JoDaniel1412/eBikeWeb
